<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mtelnet.myview">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".View1Activity">
        </activity>
        <activity android:name=".lunboActivity">
        </activity>
        <activity android:name=".IOSDialogActivity">
        </activity>
        <activity android:name=".View2Activity">
        </activity>
        <activity android:name=".View3Activity">
        </activity>
        <activity android:name=".NotificationActivity">
        </activity>
        <activity android:name=".AddAndSubActivity">
        </activity>
        <activity android:name=".DrawTextToBitmapActivity">
        </activity>
        <activity android:name=".CircleProgressBarActivity">
        </activity>
        <activity android:name=".EditInputActivity">
        </activity>
        <activity android:name=".ScrollingActivity"/>
        <activity android:name=".zoomanim.FeedActivity"/>
        <activity android:name=".zoomanim.DetailActivity"/>
        <activity android:name=".jsoup.JsoupActivity">
        </activity>
        <activity android:name=".SymptomActivity">
        </activity>
        <activity android:name=".RefreshLayoutActivity">
        </activity>
        <activity android:name=".CalendarActivity">
        </activity>
        <activity android:name=".DragPhotoViewActivity"> <!-- android:theme="@style/translucent" -->
        </activity>
        <activity android:name=".DragPhotoActivity">
        </activity>
        <activity android:name=".VRActivity">
        </activity>
        <activity android:name=".OCRActivity">
        </activity>
        <activity android:name=".ColorRingProgressActivity">
        </activity>
        <activity android:name=".AnimationActivity">
        </activity>
        <!-- 切换图标和app名称 -->
        <activity-alias
            android:name=".Test1"
            android:enabled="false"
            android:icon="@mipmap/launcher_icon1"
            android:label="双11"
            android:targetActivity=".AnimationActivity">
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </activity-alias>
        <activity-alias
            android:name=".Test2"
            android:enabled="false"
            android:icon="@mipmap/bug"
            android:label="双12"
            android:targetActivity=".AnimationActivity">
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </activity-alias>

        <activity android:name=".testanim.ShowAnimActivity">
        </activity>
        <activity android:name=".flipperviewlib.FlipperviewActivity">
        </activity>
        <activity android:name=".AutoChangeActivity">
        </activity>
        <activity android:name=".FlipperActivity">
        </activity>
        <activity android:name=".GetViewPositionActivity">
        </activity>
        <activity android:name=".ViewTranslateActivity">
        </activity>
        <activity android:name=".CheckNotifyActivity">
        </activity>
        <activity android:name=".CustTextActivity">
        </activity>
        <activity android:name=".SwitchAndRulerActivity">
        </activity>
        <activity android:name=".StepViewActivity">
        </activity>
    </application>

</manifest>